* {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.img-fluid {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  left: -15px;
  height: 100%;
}

.img-logo {
  position: absolute;
  left: 170px;
  top: 50px;
}

.welcome-text {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  margin-left: 20px;
  bottom: 20px;
}

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  color: #f0b828;
}

.history-text-icon {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.list-text-icon {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.brand-text-wrapper:hover {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.navbar {
  height: 80px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.nav-link {
  letter-spacing: 1px;
  color: #000000 !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.nav-link:hover {
  text-decoration: underline;
}

button.nav-link {
  border-radius: 10px;
}

.active {
  color: #f0b828 !important;
  font-style: normal;
  text-decoration: none !important;
}

ol.breadcrumb {
  background: none;
}

.breadcrumb-item a {
  color: #b0b0b0 !important;
  font-style: normal;
}

.search-section .search-bar {
  border-radius: 15px;
  height: 45px;
  background-color: #efefef !important;
}

.search-section .search-button {
  border-radius: 15px;
  width: 100%;
  height: 45px;
}

.col-auto {
  margin-left: 20px;
}

.img-wrapper {
  height: 100%;
  margin-bottom: 0;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 50px;
}

.img-cover {
  height: 504.02px;
  width: 621.57px;
}

.history-cover {
  height: 300px;
  width: 400px;
  border-radius: 15px;
}

.booking-wrapper {
  margin-top: 50px;
  margin-left: 58px;
  width: 462px;
  height: 324px;
  border-radius: 15px;
}

.booking-title {
  padding-left: 64px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 30px;
}

.booking-price {
  margin-top: 14px;
  margin-left: 64px;
  line-height: 54px;
  font-size: 30px;
  font-style: normal !important;
}

.booking-promo {
  margin-left: 64px;
  margin-top: 5px;
  font-weight: 300;
  font-style: normal !important;
  font-size: 14px;
  color: #b0b0b0;
}

.booking-button {
  margin-left: 64px;
  margin-top: 25px;
  color: #f0b828;
  width: 309px;
  height: 50px;
}

.about-wrapper {
  margin-top: 45px !important;
}

.about-title {
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
}

.about-text p {
  color: #b0b0b0 !important;
  font-style: normal !important;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
}

.card-hotel {
  width: 100%;
  max-height: 300px;
  background-color: #efefef;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.card-hotel .rating,
.card-hotel .price {
  position: absolute;
  top: 0;
  background-color: #f5bf38;
  color: black;
  padding: 10px;
}

.card-hotel .rating {
  left: 0;
  border-bottom-right-radius: 15px;
}

.card-hotel .price {
  right: 0;
  border-bottom-left-radius: 15px;
}

.card-hotel img {
  height: auto;
  width: 100%;
}

.card-hotel .layer-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: white !important;
  padding: 24px;
  background: linear-gradient(#00000000, rgba(31, 29, 29, 0.664));
}

.card-hotel .layer-shadow :is(h1, h2, h3, h4, h5, h6, h7) {
  color: white;
}

.pagination .pagination-control {
  padding: 25px auto;
  width: 100px;
  height: 38px;
  margin: 0 25px;
  background-color: #f5bf38;
  border: none;
}

.pagination .pagination-control.prev {
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}

.pagination .pagination-control.next {
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
}

.pagination .pagination-number {
  background-color: #f5bf38;
  width: 38px;
  height: 38px;
  margin: 0 5px;
  border: none;
}

.detail-hotel .img-wrapper {
  height: 500px;
  overflow: hidden;
}

.detail-hotel .img-wrapper .img-cover {
  width: 100%;
  height: auto;
}

.booking-kamar .progress-number {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  border: none;
}

.booking-kamar .progress-number.active {
  background-color: #f5bf38;
  color: #000000 !important;
}

.booking-kamar .progress-number.active::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  border: 1px solid #f5bf38;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.booking-kamar .img-wrapper {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 25px;
}

.booking-kamar .control-booking button {
  width: 200px;
}

.img-icon img {
  margin-top: 40px;
  height: 73px !important;
}

.img-room {
  justify-content: space-between;
}

.text-room {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  margin-top: 20px;
}

.p-footer {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  color: #b0b0b0;
  margin-top: 12px;
}

.footer-title {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.footer-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.footer-last-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 42px;
  color: #b0b0b0;
}

.card-img-top {
  border: 0px solid black;
  border-radius: 30px;
}

.row .col-12 .card .card-body {
  background-color: #f7f4f4;
}

.card-body .btn {
  border-radius: 10px;
}

.card-deck .card {
  height: auto;
  width: 400px;
}

.card-deck .card .card-img-top {
  height: 150px;
  width: 200px;
}

.card-home {
  height: 250px;
  background-color: #efefef;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-left: 24px;
}

.card-home .rating,
.card-home .price {
  position: absolute;
  top: 0;
  background-color: #f5bf38;
  color: black;
  padding: 10px;
}

.card-home .rating {
  left: 0;
  border-bottom-right-radius: 15px;
}

.card-home .price {
  right: 0;
  border-bottom-left-radius: 15px;
}

.card-home .layer-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: white !important;
  padding: 24px;
  background: linear-gradient(#00000000, rgba(31, 29, 29, 0.664));
}

.card-home .layer-shadow :is(h1, h2, h3, h4, h5, h6, h7) {
  color: white;
}

.card-news {
  height: 370px;
  width: 700px;
  background-color: #efefef;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.card-news .diskon,
.card-news .price {
  position: absolute;
  top: 0;
  background-color: #f5bf38;
  color: black;
  padding: 10px;
}

.card-news .diskon {
  width: 50px;
  background-color: red;
  color: white;
  left: 0;
  border-top-left-radius: 15px;
}

.card-news .price {
  width: 100px;
  background-color: #f5bf38;
  color: black;
  right: 0;
  border-bottom-left-radius: 15px;
}

.card-news .layer-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: white !important;
  padding: 24px;
  background: linear-gradient(#00000000, rgba(31, 29, 29, 0.664));
}

.card-news .layer-shadow :is(h1, h2, h3, h4, h5, h6, h7) {
  color: white;
}
